<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        </ion-buttons>
        <ion-title>
            Homepage
        </ion-title>
        <ion-buttons end>
            <button ion-button color="danger" (click)="logMeOut()">Logout</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
  The power is in the backend
  <p>
    <a href="https://whatarticle.firebaseio.com/word_clouds.json?print=pretty">Link to word clouds</a>
  </p>
  <p>Below Are The most common words used and occurances from subreddits on reedit</p>
  <ion-content>
  <ion-list>
    <ion-item *ngFor="let post of posts">
      <p>{{post}}</p>
    </ion-item>
    <ion-item *ngFor="let post1 of posts2">
      <p>{{post1}}</p>
    </ion-item>
    <ion-item *ngFor="let post2 of posts3">
      <p>{{post2}}</p>
    </ion-item>
    <ion-item *ngFor="let post3 of posts4">
      <p>{{post3}}</p>
    </ion-item>
    <ion-item *ngFor="let post4 of posts5">
      <p>{{post4}}</p>
    </ion-item>
    <ion-item *ngFor="let post5 of posts6">
      <p>{{post5}}</p>
    </ion-item>
    <ion-item *ngFor="let post6 of posts7">
      <p>{{post6}}</p>
    </ion-item>
    <ion-item *ngFor="let post7 of posts8">
      <p>{{post7}}</p>
    </ion-item>
      <ion-item *ngFor="let post8 of posts9">
      <p>{{post8}}</p>
    </ion-item>
  </ion-list>
</ion-content>`
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="links.js"></script>

</ion-content>